/* Typography */

/* Welcome Flemming */
h1 {
	color: #FFFF;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	text-align: center;
}

/* buttons */
h2 { 
	color: #FFFF;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

/* component headline in CAPS */
h3 { 
	color: #FFFF;
	font-size: 16px;
	font-family: 'Source Sans Variable', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: 1vw;
}

/* dock number in picture */
h4 {
	color: #FFFF;
	font-size: 20px;
	font-family: 'Source Sans Variable', sans-serif;
	font-weight: 400;
}

/* date in message */
h5 {
	color: #919191;
	font-size: 11px;
	font-family: 'Source Sans Variable', sans-serif;
	font-weight: 400;
	text-align: right;
	padding-left: 20px;
}

/* meta text (in messages etc.) */
p {
	color: #000000;
	font-size: 15px;
	font-family: 'Source Sans Variable', sans-serif;
	font-weight: 400;
}

/* p in bold */
.bold {
	font-weight: 800;
}

/* buttons */
.BlueButton{
	background-color: #1D385C;
	color: #FFFF;
	border-radius: 10%; 
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	width: fit-content;
	padding: 7px;
}

.BlueButton:hover{
	background-color: #051830;
}

/* Background picture */
body{
	background-image: url(assets/Background.jpg);
	background-repeat:no-repeat;
	background-position:top;
	background-size:cover; /*Something funny about the sizing, can't figure it out*/
}

/* NewsCard and NewsCardContainer formatting */
.in-line{
	display: flex;
	flex-direction: row;
}

.in-column{
	display: flex;
	flex-direction: column;
}

.news-card-img{
    max-width: 200px;
    max-height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
	padding: 10px;
	border-radius: 15%;
}

.news-card{
	width: 300px;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.news-card-container{
	width: 500px;
	margin:auto;
	background-color:rgba(216, 221, 229, 0.847);
	border-radius: 15px;
	box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}







