/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


/* Welcome Flemming */
h1 {
	color: #FFFF;
	font-size: 130%;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	text-align: center;
}

/* buttons */
h2 { 
	color: #FFFF;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

/* h3 */
h3 { 
	color: #FFFF;
	font-size: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.h3-home { 
	color: #FFFF;
	font-size: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	display: inline-block;
	margin: 2% 4% ;
}

/* dock number in picture */
h4 {
	color: #FFFF;
	font-size: 20px;
	font-family: 'Source Sans Variable', sans-serif;
	font-weight: 400;
}

/* date in message */
h5 {
	color: #919191;
	font-size: 9px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-align: right;
	padding-left: 20px;
}

/* meta text (in messages etc.) */
p {
	color: #012657;
	font-size: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.news-content {
	margin-bottom: 10px; 
	margin-top: 1px;
	color: #012657;
	font-size: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	/* Add other styles specific to news content here */
}

.news-title {
	margin-bottom: 1px; /* Reduced bottom margin */
	font-weight: bold;
}

/* p in bold */
.bold {
	font-weight: 800;
}

/* No underlining in a link */
.link{
	text-decoration: none;
}

/*wrapper with margins2% 4%*/
.wrapper{
	max-width: 100%;
	display: flex;
  	align-items: center;
	margin: 2% 0% 0%;
}


/* buttons */
.blue-button{
	background-color: #1D385C;
	border: 2px solid #1D385C;
	color: #FFFF;
	font-family: 'Ubuntu', sans-serif;
	font-size: 90%;
	font-weight: 400;
	border-radius: 10px;
	padding: 2% 4%;
}

.send-button{
	background-color: #1D385C;
	border: 2px solid #1D385C;
	color: #FFFF;
	font-family: 'Ubuntu', sans-serif;
	font-size: 90%;
	font-weight: 400;
	width: 40%;
	padding: 2%;
	border-radius: 10px;
	display: inline-block;
	right: 0%;
	position: fixed;
	margin: 2% 4%;
}

.attach-button {
	background-color:rgba(216, 221, 229, 0.847);
    color: #1D385C;
    font-family: 'Ubuntu', sans-serif;
    font-size: 90%;
    font-weight: 400;
	width: 40%;
    padding: 2%;
    border-radius: 10px;
    border: 2px solid #1D385C; /* Add border to make it similar to BlueButton */
	display: inline-block;
	left: 0%;
	position: fixed;
	margin: 2% 4%;
	text-align: center;
}

.new-message-button{
	background-color: #1D385C;
	color: #FFFF;
	font-family: 'Ubuntu', sans-serif;
	font-size: 90%;
	font-weight: 400;
	width: fit-content;
	padding: 2%;
	border-radius: 10px;
	display: inline-block;
	margin-left: 27%;
	/*position: fixed;*/
}

.send-new-message-button{
	background-color: #1D385C;
	color: #FFFF;
	font-family: 'Ubuntu', sans-serif;
	font-size: 90%;
	font-weight: 400;
	padding: 2%;
	border-radius: 10px;
	text-align: center;
	width: 90%;
	display: inline-block;
	margin: 2% 4%;
}

.button-container {
    display: flex;
    justify-content: center; /* Align button group to center */
}

.centered{
	display: flex;
	justify-content: center;
}

/* Background picture */
body{
	background-image: url(assets/Background.jpg);
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size:cover;
	height: 100%;
}

/* NewsCard and NewsCardContainer formatting */
.in-line{
	display: flex;
	flex-direction: row !important;
}

.in-column{
	display: flex;
	flex-direction: column;
}

.news-image-container {
	float: left; 
	width: 25%; 
	height: 25%;

  }
  
.news-card-img {
	width: 100%; 
	height: 100%;
	object-fit: cover; 
	border-radius: 15%; 
  }


.news-image-container.featured {
	margin-right: 0px; 
	margin-left: 3%;
	flex-shrink: 0; 
  }
  
.news-card-body{
	max-width: 100%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: left;
	overflow: hidden;
}

.news-card-container {
	max-width: 100%;
	margin: 2% 4%;
	background-color:rgba(216, 221, 229, 0.847);
	border-radius: 15px;
	box-sizing: border-box;
	overflow-y: auto;
    /*box-shadow: 0 15px 25px rgba(0,0,0,0.3);*/
	height: 50%;
}

.container-container{
	display: flex;
	flex-direction: column;
	max-width: 50%;
	margin-top: 10px;
	margin-left: 25%;
	align-items: center;
}

/* profile content formatting*/
.user-container-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:rgba(216, 221, 229, 0.847);
	border-radius: 15px;
	width: 92%;
	margin: 1% 4%;
}
.user-container{
	display: flex;
	flex-direction: row;
	max-height: 70%;
	padding: 1%;
	border-bottom: 1px solid #b6b3b3;
}

.user-info{
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	align-items: flex-start;
	width: 50%;
}

.user-image-container{
	display: flex;
	flex-direction: row;
	width: 50%;
	margin: 4% 6% 4%  4% ;
	align-items: center;
}

.user-image{
	display: flex;
	align-self: flex-start;
	align-items: center;
}

.user-image-empty{
	display: flex;
	background-color: aliceblue;
	border-radius: 10%;
	height: 100%;
	align-items: center;
}


/* Line between cards */
.card {
border-bottom: 1px solid #b6b3b3; /* line at bottom of card */
display: flex;
align-items: center;
}

/* Last card shouldn't have a border */
.card:last-child {
border-bottom: none;
}

/* ChatCard and ChatContainer formatting */
.chat-container{
	display: flex;
	flex-direction: column-reverse;
	overflow-y: auto !important;
	row-gap:15px;
	max-width: 100%;
	height: 55vh;
	padding: 4%;
	margin:2% 4%;
	margin-top: 10px;
	background-color:rgba(216, 221, 229, 0.847);
	border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.chat-card {
	display:flex;
	width: fit-content;
	height: fit-content;
	border-radius: 15px;
}

.chat-card-body{
	display: flex;
	flex-direction: column;
	min-width: 60%;
	padding: 2% 2%;
}

.chats {
	max-width: 40vh;
	min-width: 20vh;
	align-self: self-start;
	background-color: #FFFFFF;
}

.chats.right{
	align-self: self-end;
	background-color: #bdd3f5;
}

.meta-text{
	display: flex;
	align-self: flex-start;
	height: fit-content;
}

.chat-date{
	align-self: flex-end;
}

.modal-overlay {
	position: fixed; /* relative to main view */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000; 
  }
  
.modal-content {
    background: rgba(216, 221, 229);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%; 
    max-height: 80%;
    overflow-y: auto; 
    position: relative;
}

.modal-close-button {
    position: absolute;
    top: 2%; /* Adjust as needed */
    right: 2%; /* Adjust as needed */
    background: transparent; /* Transparent background */
    border: none;
    padding: 0;
    cursor: pointer; /* Changes the cursor on hover */
}

.modal-close-button svg {
    fill: #012657; /* Change color as needed */
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
}
.modal-image {
	max-height: 60vh;
	max-width: fit-content;
  }

/*Images in chat*/
.message-image-container {
	margin-top: 10px; /* Add space above the image */
  }
  
.message-image {
	max-width: 50%; /* Ensure the image does not overflow the chat card */
	height: auto; /* Maintain aspect ratio */
	border-radius: 5px; /* Optional: if you want rounded corners */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds subtle shadow for depth */
  }

  
.in-line-message{
	display: flex;
	flex-direction: row;
}

.in-column-message{
	display: flex;
	flex-direction: column;
}

.message-card-body{
	width: 100%;
	padding: 2% 3% 2% 3%;
}

.message-list {
    display: block;
    max-width: 100%;
    margin: 2% 4%;
	border-radius: 15px;
    background-color: rgba(216, 221, 229, 0.847);
    overflow-y: hidden; /* Enable vertical scrolling */
	box-sizing: border-box;
	padding: 0.5%;
	padding-top: 0.5%;
	height: 73%;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.message-list-small {
    display: block;
    max-width: 100%;
    margin: 2% 4%;
	border-radius: 15px;
    background-color: rgba(216, 221, 229, 0.847);
    overflow-y: auto; /* Enable vertical scrolling */
	box-sizing: border-box;
	padding: 0.5%;
	padding-top: 0.5%;
	height: 33%;
}

.scrollbar-hidden {
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
  }

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
  }

.message-card-container{
	margin: 0.5%;
	background-color:rgba(216, 221, 229);
	box-sizing: border-box;
	display: block;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Adjust shadow as needed */

}

form {
	max-width: 100%;
}

/* searchbar */
.search-input {
	font-size: 90%;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    border: 1px solid;
    border-color: #1D385C;
    padding: 2%;
    margin: 0% 4%; 
    /*background-color: rgba(216, 221, 229, 0.847);*/
    background-color: rgba(216, 221, 229, 0.932);
    box-sizing: border-box;
    width: 92%;
}


/* dock select bar */
.dock-select-form {
	width: 100%;
  }
  
.dock-select {
	font-size: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 10px;
	padding: 2%;
	color: #1D385C;
	background-color:rgba(216, 221, 229, 0.932);
	border-color: #1D385C;
	margin: 0% 4%;
	position: inherit;
	width: 92%;
  }

  /*Navbar style*/
.navbar-bottom {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    background-color: rgba(241, 243, 246);
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
	height:8%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0% 0%;
}

/*Navbar Button passive state*/
.nav-item .icon {
    fill: #697fa7;
	padding: 5%;
}

.nav-item p {
    font-size: 14px;
    fill: #697fa7;
	margin: 2%;
}

/*Navbar Button active state*/
.nav-item.active .icon {
    fill: #1D385C;
}

.nav-item.active p {
    fill: #1D385C;
}

label {
	display: block;
  }

.margin-top-30px {
	margin-top: 30px;
}
  
.new-message-container {
	display: flex;
	flex-direction: column;
	padding-top: 0%;
	box-sizing: border-box;
	position: relative;
	margin: 2% auto; /* Center horizontally */
	padding: 0% 4%;
	width: 100%;
	height: 60%;
	margin-bottom: 6%;
  }

.new-message-container-small {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 2% 4% 2% 4%;
}

.image-preview-wrapper {
	display: flex;
	align-items: center; 
	justify-content: flex-start;
	margin-top: 10px; 
	}

.image-preview-container {
	padding: 10px;
	border-radius: 10px;
	max-width: 200px; 
	max-height: 200px; 
	box-sizing: border-box;
	}

.image-preview {
	width: 100%; 
	height: 100%;
	border-radius: 10px; 
	object-fit: cover; 
	}

.delete-image-button {
	background-color: #b3251b; /* Red color to indicate deletion */
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px; /* Adjust the font size if needed */
	padding: 10px 20px; /* Adjust the padding to match the size of the button to other buttons */
	border-radius: 10px; /* Rounded corners as the other buttons */
	border: none;
	cursor: pointer;
	font-weight: 400; /* Match the font weight to other buttons */
	margin-left: 25px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* Optional: adds a slight shadow for depth */
	transition: background-color 0.3s; /* Optional: smooth background color transition on hover */
	width: fit-content !important;
	}
	
	.delete-image-button:hover {
	background-color: #9e1e15; /* A darker red on hover for better user experience */
	}
	  



textarea {
	flex: 1; /* Allow textarea to stretch vertically within the container */
	width: 100%; 
	padding: 10px;
	border-radius: 10px;
	margin: 0; /* Reset the margin to prevent overflow */
	box-sizing: border-box; /* Ensure padding is included in width */
	overflow-y: scroll;
	height: 100%;
	resize: none; /* Remove this if you want the user to resize the textarea */
	color: #1D385C;
	font-size: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	background-color:rgba(216, 221, 229, 0.847);
	border-color: #1D385C;
  }

/* Add space below the text input */
.textarea .search-input[type="text"] {
	margin-top: 5%; /* Adjust as needed */
    margin-bottom: 2%; /* Adjust as needed */
}

/* Or add space above the password input */
.textarea .search-input[type="password"] {
    margin-top: 2%; /* Adjust as needed */
	margin-bottom: 2%;
}
  
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
  }

.profile-img-container{
	float: right;
	width: 15%;
	height: 100%;
	margin: 2% 5% 2% 1%;
	}
  
.square {
	position: relative;
	width: 100%;
	background-color: #9FAABC;
	text-align: center;
	vertical-align: middle;
	border-radius: 15%;
	object-fit: cover; 
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 55.33%;
	}
  
.content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.profile-img-alt-font {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	font-weight: 400;
	color: #012657;  
	top: 50%;
	  transform: translate(0, 60%);
  }
  
.chatlist-card-title{
	justify-content: space-between; /* Align children at each end of the container */
	width: 100%;
  }
  
.chatlist-card-username {
	color: #012657;
	font-size: 90%;
	font-family: 'Source Sans Pro', sans-serif;
  }
  
.chatlist-card-date {
	color: #919191;
	font-size: 70%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	order: 1;
  }
  
.width-75 {
	width: 85%;
	margin: 2% 0% 0% 0%;
  }
  
.chatlist-card-preview {
	color: #012657;
	font-size: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0% 0% 0% 0%;
	width: 94%;
  }

.chatlist-card-unread-count {
	color: #919191;
	font-size: 70%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	order: 1;
	margin: 5% 0% 0% 0%;
  }

  .chatlist-card-unread-count {
    color: rgba(216, 221, 229, 1); /* Updated font color */
    font-size: 70%; /* Unchanged */
    font-family: 'Source Sans Pro', sans-serif; /* Unchanged */ 
    font-weight: 400; /* Unchanged */
    order: 1; /* Unchanged */
    margin: 3% 0% 0% 0%; /* Updated margin */
    background-color: #012657; /* New background color */
    border-radius: 50%; /* Makes the background a circle */
    display: inline-flex; /* Changed to inline-flex for better centering */
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    width: 1.5em; /* Fixed width */
    height: 1.5em; /* Fixed height */
    min-width: 1.5em; /* Ensures the circle shape even with single digit */
}

