/* Typography */

/* Welcome Flemming */
h1 {
	color: #FFFF;
	font-size: 8vw;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

/* buttons */
h2 { 
	color: #FFFF;
	font-size: 6vw;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

/* component headline in CAPS */
h3 { 
	color: #FFFF;
	font-size: 6vw;
	font-family: 'Source Sans Variable', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

/* dock number in picture */
h4 {
	color: #FFFF;
	font-size: 7vw;
	font-family: 'Source Sans Variable', sans-serif;
	font-weight: 400;
}

/* date in message */
h5 {
	color: #919191;
	font-size: 4vw;
	font-family: 'Source Sans Variable', sans-serif;
	font-weight: 400;
}

/* meta text (in messages etc.) */
p {
	color: #000000;
	font-size: 4vw;
	font-family: 'Source Sans Variable', sans-serif;
	font-weight: 400;
}

/* p in bold */
.bold {
	font-weight: 800;
}

/* buttons */
.BlueButton{
	background-color: #1D385C;
	color: #FFFF;
	border-radius: 20%; /*should be tested */
	font-family: 'Ubuntu', sans-serif;
	font-size: 4vw; /*should be tested */
	font-weight: 400;
}

.BlueButton:hover{
	background-color: #1a2e47;
}

/* searchbar */
.search-input {
    font-size: 16px; 
    font-family: 'Source Sans Variable', sans-serif;
    border-radius: 10px;
    width: 80%;
    border: 1px solid #ccc;
	padding: 2px;
    
}
/* Responsive font size adjustments */
@media (max-width: 600px) { 
    .search-input {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) { 
    .search-input {
        font-size: 15px;
    }
}

@media (min-width: 1025px) {
    .search-input {
        font-size: 16px;
    }
}

/*Navbar style*/
.navbar-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0% 5%;
}

/*Navbar Button passive state*/
.nav-item .icon {
    fill: #9FAABC;
}

.nav-item p {
    margin-top: 4px;
    font-size: 14px;
    fill: #9FAABC;
}

/*Navbar Button active state*/
.nav-item.active .icon {
    fill: #012657;
}

.nav-item.active p {
    fill: #012657;
}




